.slider-caption1{
    position: absolute;
    margin-right: auto;
    bottom: 200px;
    right:650px;
}
.slider-caption2{
    position: absolute;
    margin-right: auto;
    bottom: 200px;
    left:650px;
    color:rgb(55, 56, 54);
}
.slider-caption3{
    position: absolute;
    margin-right: auto;
    bottom: 200px;
    left:650px;
}
h2{
    font-size: 36px;
    font-weight: 700;
}
p{
    font-weight: 500;
}
.slider-btn{
    padding:5px 30px;
    border: 0;
    color:white;
    background-color: darkorange;
    border-radius: 50px 30px;
    font-weight: 600;
}
